<strong>Recuperando senha</strong>

<p>Uma solicitacao de recuperacao de senha foi realizada para o e-mail ({{ email }}). Se voce nao foi o autor dessa requisicao, por favor troque sua senha para garantir</p>

<p>Utilize o token {{ token }} para continuar na recuperacao de senha ou clique no link abaixo</p>
<a href="{{ link }}">Criar nova senha</a>
